.invalid-prompt {
  max-width: 45%;
  height: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 white;
  z-index: 999;
}

.invalid-prompt__header {
  background-color: rgb(99, 19, 174);
  padding: 1.6rem;
  font-size: 2.2rem;
  color: white;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.invalid-prompt__message {
  padding: 2.2rem 1.6rem;
}

.invalid-prompt__btn {
  text-align: right;
  padding: 1.2rem;
}